body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.category {
    margin: 20px;
}

.category h5 {
    color: #000;
}