body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #e46140, #3372b1);
}

div {
    box-sizing: border-box;
    font-size: 2rem;
    outline: 8px ridge rgba(30, 144, 255, 0.7);
    padding: 1.5rem;
    border-radius: 1rem;
    border: 2px solid dodgerblue;
    color: white;
    background-color: #87cefa;
}
